body{
    margin: 0;
    font-family:  'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
    li{ 
    height: 50px;
  }
  .btn-delete-task{
    display: none;
  }
  li:hover > .btn-delete-task{
    display: inline;
  }
  .btn-delete-all{
    margin: 8px 0px 8px 0px;
    float: right;
  }
  .items-left, .input-form-todo{
      display: block;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,.125);
      height: 30px;
      padding: 0px 10px;
  }
  
  .input-form-todo{
    width: 100%;
    outline: none;
    height: 50px;
    padding-left: 50px;
  }
  
  .head-todo{
    color: rgb(250, 215, 215);
  }
  button{
    background: none;
    border: none;
    outline: none;
  }